.widgets {
  position: sticky;
  top: 5rem;
  flex: 0.2;
  background-color: #fff;
  border-radius: 0.625rem;
  border: 0.0625rem solid lightgrey;
  height: fit-content;
  padding-bottom: 0.625rem;
  margin-bottom: 11.5rem;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
}

.widgets__header > h2 {
  font-size: 1rem;
  font-size: 400;
}

.widgets__article {
  display: flex;
  padding: 0.625rem;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 0.375rem;
}

.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 1rem;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 0.875rem;
}

.widgets__articleRight > p {
  font-size: 0.75rem;
  color: gray;
}
